/*
    1. Utiliser un modèle de boîte plus intuitif.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
    2. Supprimer la marge par défaut
  */
* {
    margin: 0;
}

/*
    Ajustements typographiques !
    3. Ajouter un interlignage accessible
    4. Améliorer le rendu du texte
  */
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/*
    5. Améliorer les paramètres par défaut des médias
  */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/*
    6. Supprimer les styles typographiques intégrés pour les formulaires
  */
input,
button,
textarea,
select {
    font: inherit;
}

/*
    7. Éviter les débordements de texte
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/*
    8. Créer un contexte d'empilement racine
  */
#root,
#__next {
    isolation: isolate;
}
